html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: rgb(235, 237, 238);
}

.navbar {
    font-weight: 600;
    background-color: white;
    border-bottom: 2px solid #000000;
}


main {
    margin-top: -110px;
    background-color: rgb(235, 237, 238);
}

#Home {
    margin-top: 80px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#hi {
    padding-top: 180px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 4vmin;
    font-weight: 400;
}

#name {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 13vmin;
    font-weight: 600;
    background: linear-gradient(to right, #123852 0%, #709FC0 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
}

#I_am {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 13vmin;
    font-weight: 400;
    color: #4c4c4c;
    margin-bottom: -20px;
}

#adjectives {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 13vmin;
    font-weight: 400;
    background: linear-gradient(to left, #801505 0%, #D46A6A 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
}

#blurb {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 3vmin;
    margin-top: 40px;
    width: 250%;
}

#NYU {
    color: #57068c;
    font-weight: 600;
}

.coding {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 3vmin;
}

/* About Start */
#About_Me {
    padding-top: 80px;
    position: relative;
    margin-top: 160px;/*can be in percentage also.*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#About {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 4vmin;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

hr {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.About_text {
    width: 80%;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-weight: 500;
    font-size: 2.3vmin;
    line-height: 2;
}

.experience {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 17px;
}

#pyimg {
    margin-left: 5px;
    margin-bottom: 5px; 
}

#htmlimg {
    margin-left: -27px;
    margin-bottom: 5px;
}

#cssimg {
    margin-left: -7px;
    margin-bottom: 5px;
}

#gitimg {
    margin-left: -12px;
    margin-bottom: 5px;
}

#lrimg {
    margin-left: 50px;
    margin-bottom: 5px;
}

#illusimg {
    margin-left: 60px;
    margin-bottom: 5px;
}

#aeimg {
    margin-left: 63px;
    margin-bottom: 5px;
}

#fcpimg {
    margin-left: 30px;
    margin-bottom: 5px;
}

#afimg {
    margin-left: 52px;
    margin-bottom: 5px;
}

#AF {
    margin-top: 5px;
}
/* About End */

/* Photos Start */
#Portfolio {
    padding-top: 80px;
    position: relative;
    margin-top: 200px;/*can be in percentage also.*/
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#PortText {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column { /* Create four equal columns that sits next to each other */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Photos End */

/* Footer */
.footer{
    background: #152F4F;
    color:white;
    a{transition: color .2s;}
    a:hover{color:#4180CB}
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
/* Footer End */

@media screen and (max-width: 800px) { /* Responsive layout - makes a two column-layout instead of four columns */
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 575px) { /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #adjectives {
    margin-top: 25px;
  }
}


