html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: rgb(235, 237, 238);
}

.navbar {
    font-weight: 600;
    background-color: white;
    border-bottom: 2px solid #000000;
}


main {
    margin-top: -110px;
    background-color: rgb(235, 237, 238);
    margin-bottom: -10px;
}

#Home {
    margin-top: 80px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#hi {
    padding-top: 180px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 4vmin;
    font-weight: 400;
}

#name {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 13vmin;
    font-weight: 600;
    background: linear-gradient(to right, #123852 0%, #709FC0 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
}

#I_am {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 13vmin;
    font-weight: 400;
    color: #4c4c4c;
    margin-bottom: -20px;
}

#adjectives {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 13vmin;
    font-weight: 400;
    background: linear-gradient(to left, #801505 0%, #D46A6A 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
}

#blurb {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 3vmin;
    margin-top: 40px;
    width: 250%;
}

#NYU {
    color: #57068c;
    font-weight: 600;
}

.coding {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 3vmin;
}

/* About Start */
#About_Me {
    padding-top: 80px;
    position: relative;
    margin-top: 160px;/*can be in percentage also.*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#About {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 4vmin;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

hr {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.About_text {
    width: 80%;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-weight: 500;
    font-size: 2.6vmin;
    line-height: 2;
}

.experience {
    font-family: 'Titillium Web', sans-serif;;
    text-align: center;
    font-weight: bold;
}

.experience img {
    display: block;
    margin: 0 auto;
}


#After {
    margin-top: .5%;
}

/* About End */

/* Photos Start */
#Gallery {
    padding-top: 80px;
    position: relative;
    margin-top: 200px;/*can be in percentage also.*/
    margin-left: auto;
    margin-right: auto;
}

#GalText {
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.img-fluid {
    padding-bottom: 8px;
}

.column1 {
    padding-right: 8px !important;
}

.column2 {
    padding-right: 8px !important;
    padding-left: 0px !important;
}

.column3 {
    padding-right: 8px !important;
    padding-left: 0px !important;
}

.column4 {
    padding-left: 0px !important;
}

/* Photos End */

/* Footer */
.footer{
    background: #152F4F;
    color:white;
    a{transition: color .2s;}
    a:hover{color:#4180CB}
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

#connect {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}
/* Footer End */

@media screen and (max-width: 575px) { /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  #adjectives {
    margin-top: 25px;
  }
  .About_text {
      margin-left: 7%;
  }
  #selfpic {
      margin-right: 3%;
  }
  .column1 {
      padding-left: 10px !important;
  }
  .column2 {
        padding-left: 10px !important;
        padding-right: 10px !important;
   }   
   .column3 {
        padding-left: 10px !important;
    }
    .column4 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .col-sm-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

}


